*{
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}
body{
    background-color: #f5f3ee;
}

.main{
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../media/programmers_team.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    position: absolute;
    width: 1400px;
    height: 100px;
    margin: auto;
    left: 350px;
}
.icon{
    position: absolute;
    width: 15%;
    float: left;
    height: auto;
    margin-top:3%;
}
.logo{
    width: 70%;
    float: center;
    height: auto;
}
.menu{
    position: absolute;
    width: 50%;
    height: 70%;
    margin-top: 2.2%;
    margin-left: 30%;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
}
ul li{
    list-style-type: none;
    margin-left: 20%;
    margin-top: 5%;
    font-size: 18px;
}
ul li a{
    text-decoration: none;
    color:white;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    transition: 0.5s ease-in-out;
    letter-spacing: 1px;
}
ul li a:hover{
    color: #56b856;
}
ul li ul{
    width: 200%;
    float: left;
    justify-content: center;
    align-items: center;
    display: block; 
}
ul li ul li a{
    padding: 8px 18px;
    position: relative;
    font-size: 17px; 
}
ul li ul li a:hover {
    color: #56b856;
}
ul li ul{
    visibility:hidden;
}
ul li:hover ul{
    visibility:visible;
}
.lin{
    left: -33%;
    text-align: center;
}
.con{
    padding-right: 7%;
}

.page{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.page h1{
    color: white;
    font-size: 400%;
    font-family: 'Raleway';
    text-align: center;
}
.page .par{
    padding-top: 3%;
    text-align: center;
    color: white;
    font-size: 170%;
    font-family: 'Source Sans Pro';
    padding-bottom: 2%;
}
.button{
    position: absolute;
    top:63%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    font-family: 'Source Sans Pro';
    padding: 10px 30px;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease-in-out;
}
.btn:hover{
    background-color: #56b856;
}

.team{
    margin-top: 6%;
}
.team .title{
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../media/teams.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.team h1{
    text-align: center;
    font-family: 'Raleway';
    color:#fff;
    font-size: 500%;
    font-weight:bold;
    padding-top: 8%;
    padding-bottom: 8%;
}
.team-table{
    margin-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 80%;
    left: 24px;
    margin-left:1.5%;
    height: auto;
}
.team-image{
    height: 500px;
    width: 889px;
    background: linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../media/teams_2.jpg);
    background-size: cover;
    background-position: center;
}
.team-text{
    background: #C6FFDD;
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);
    height: 500px;
    width: 861px;
}
.team-text .zone{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 30%;
    transform: translate(0,-50%);
    color: #000;
    text-align: center;
    font-size: 130%;
    font-style: italic;
    font-family: 'Source Sans Pro';
}

.form{
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../media/programmers.jpg);
    background-size: cover;
    background-position: center;
    margin-top:2%;
}
.form h1{
    text-align: center;
    font-family: 'Raleway';
    color:#fff;
    font-size: 300%;
    font-weight:bold;
    padding-top: 3%;
}
.form div{
    padding-top: 3%;
    text-align: center;
}
.form .zone{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 150%;
    color: #fff;
    font-family: 'Source Sans Pro';
}
.form .form_button{
    margin-top:3%;
    margin-left:50%;
    transform: translate(-50%,-50%);
    padding-bottom: 2%;
}
.form .form_btn{
    padding: 10px 30px;
    border: 1px solid #fff;
    font-family: 'Source Sans Pro';
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
}
.form .form_btn:hover{
        background-color: #56b856;
}

.services{
    margin-top: 6%;
}
.services .title{
    background: linear-gradient(to top, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../media/programming_aboutus.jpg);
    background-size: cover;
    background-position: center;
    align-items: center;
}
.services h1{
    text-align: center;
    font-family: 'Raleway';
    color:#fff;
    font-size: 500%;
    font-weight:bold;
    padding-top: 5%;
    padding-bottom: 5%;
}
.services-table{
    margin-top: 2%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
    width: 80%;
    left: 24px;
    margin-left:1.5%;
    height: auto;
}
.services-image{
    height: 500px;
    width: 889px;
    background: linear-gradient(to top, rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(../media/concept_text.png);
    background-size: cover;
    background-position: center;
}
.services-text{
    background: #dd3e54;
    background: linear-gradient(to right, #6be585, #dd3e54);
    height: 500px;
    width: 861px;
}
.services-text .zone{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 30%;
    transform: translate(0,-50%);
    color:#fff;
    text-align: center;
    font-size: 130%;
    font-style: italic;
    font-family: 'Source Sans Pro';
}

.footer{
    width:100%;
    margin-top: 3%;
}
.footer hr{
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0%);
    color: rgb(134, 134, 134);
}
.footer div{
    padding:1.5% 0%;
}
.footer p{
    text-align: center;
    font-family: 'Source Sans Pro';
    size:100%;
    color: rgb(119, 119, 119);
    font-weight: bold;
}
.navbar-footer{
    position: absolute;
    width: 400px;
    height: 100px;
    margin: auto;
    left: 40%;
}
.menu-footer{
    position: absolute;
    width: 50%;
    height: 10%;
    margin-top: 6%;
}
.menu-footer ul{
    float: left;
    display: flex;
    justify-content: center;
}
.menu-footer ul li{
    list-style-type: none;
    margin-left: 70%;
    font-size: 70%;
}
.menu-footer ul li a{
    text-decoration: none;
    color:rgb(119, 119, 119);
    font-family: 'Source Sans Pro';
    font-weight: bold;
    letter-spacing: 1px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 0.8s all ease;
  }
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}